In [1]:
total_expenditure = 1000

if total_expenditure > 5000:
    print("1% cashback")
else:
    print("No cashback")

No cashback

In [2]:
num1 = 10
num2 = 20

if num1 > num2:
    print(num1)
else:
    print(num2)

20

In [1]:
카트 = ["a", "b", "c"]
for i in 카트:
    print(i)

a
b
c

In [2]:
day_close = [1000, 900, 950, 1050, 1100]

for 종가 in day_close: # day_close 리스트안에 있는 각 종가에 대하여
    print(종가)

1000
900
950
1050
1100

In [4]:
과자목록 = [1, 2, 3, 4, 5]
for 과자번호 in 과자목록:
    print(과자번호)
    
for 과자번호 in 과자목록:
    print(과자번호, "계산 완료")

1
2
3
4
5
1 계산 완료
2 계산 완료
3 계산 완료
4 계산 완료
5 계산 완료

In [16]:
과자 = {"a": 100, "b": 200, "c": 300}
for 과자종류 in 과자:
    print(과자종류) # print(i) 하면 c만 나옴, 뭐지?
    print(과자[과자종류]) # key로 인덱싱하여 value를 얻을 수 있다.
    print(과자종류, 과자[과자종류])
    과자가격 = 과자[과자종류]
    print(i, 과자가격)
    print("\n")
    
for k, v in 과자.items():
    print(k, v)

a
100
a 100
c 100


b
200
b 200
c 200


c
300
c 300
c 300


a 100
b 200
c 300

In [18]:
for i in range(10): # 0부터 9까지
    print(i)
for i in range(1, 9, 2): # range(start, end, step) step은 생략 가능 end-1까지
    print(i)

0
1
2
3
4
5
6
7
8
9
1
3
5
7

In [4]:
과자 = ["꼬깔", "새우", "포카", "프링", "오징"]

for i in range(5): # 0부터 4까지
    print(i, 과자[i])
    
for i, v in enumerate(과자):
    print(i, v)

0 꼬깔
1 새우
2 포카
3 프링
4 오징
0 꼬깔
1 새우
2 포카
3 프링
4 오징

In [5]:
for i in range(1, 4):
    print("파이썬", i)

파이썬 1
파이썬 2
파이썬 3

In [6]:
과자 = {
    "꼬": 2000,
    "새": 3800,
    "포": 1200
}

for 이름, 정가 in 과자.items():
    print(이름, 정가, 정가 * 0.9)

꼬 2000 1800.0
새 3800 3420.0
포 1200 1080.0

In [7]:
# 반복문 내의 조건문
과일목록 = {'참외', '사과', '바나나', '산딸기'}

for 과일 in 과일목록:
    if len(과일) >= 3:
        print(과일)

산딸기
바나나

In [10]:
comp = [
    ["삼성전자", 15.75],
    ["LG전자", 8.75],
    ["SK하이닉스", 2.23],
    ["현대자동차", 4.23]
]

result = [] # 조건을 만족할 기업명을 추가할 리스트

for i in comp:
    name = i[0]
    per = i[1]
    if per < 10:
        result.append(name)
        
print(result)

['LG전자', 'SK하이닉스', '현대자동차']

In [13]:
과자 = {"꼬깔": 1000, "새우": 1500, "포카": 2000, "프링": 2500, "오징": 3000}

과자목록 = []
for 이름, 가격 in 과자.items():
    if 가격 <= 2000:
        과자목록.append(이름)
        
print(과자목록)

['꼬깔', '새우', '포카']

In [14]:
for i in range(5):
    if i >3:
        break
    print(i)
print("끝")

0
1
2
3
끝

In [15]:
for i in range(4):
    if i % 2 == 0:
        continue
    print(i)

1
3

In [16]:
과자 = {"꼬깔": 1000, "새우": 1500, "포카": 2000, "프링": 2500, "오징": 3000}

과자리스트 = []
과자가격합 = 0

for 이름, 가격 in 과자.items():
    if 과자가격합 + 가격 > 5000:
        break
    과자리스트.append(이름)
    과자가격합 += 가격
    
print(과자리스트)
print(과자가격합)

['꼬깔', '새우', '포카']
4500

In [17]:
번호리스트 = {
    "01가 1234",
    "02나 1234",
    "03다 1234",
    "04라 1234",
    "05마 1234",
}
for 번호 in 번호리스트:
    num = int(번호[:2]) # 문자열 상태의 번호를 정수형으로 변환
    
    if num >= 3:
        continue
    print(번호)

02나 1234
01가 1234