In [1]:
print("Hello World")

Hello World

In [4]:
lang = "PYTHON3"
print(lang[0])
print(lang[-7])

P
P

In [6]:
lang = "PYTHON3"
print(lang[0:7])
print(lang[-7:]) # 0은 시작을 가리킨다.

PYTHON3
PYTHON3

In [14]:
lang = "PYTHON3"
# 슬라이싱에서 세 번째 값을 지정하면 증감 폭을 설정한다.
print(lang[::2])
print(lang[::-1])
reg_num = "801230-1234567"
print("19" + reg_num[:6])
car_num = "12가 1234"
print(car_num[-4:])
data = "ABC"
print(data[:][:][:][-1]) # data[:]부터 실행되는데.
# 인덱스를 생략했으므로 처음부터 끝까지 전체 문자열을 가져오고 반복 후 마지막에 -1로 인해 C가 선택된다.

PTO3
3NOHTYP
19801230
1234
C

In [4]:
year = "2023"
month = "09"
day = "07"
date = year + "-" + month + "-" + day
print(date)
date.split("-")

2023-09-07

['2023', '09', '07']

In [2]:
print("-" * 20)

--------------------

In [9]:
lang = "python3"
lang.upper()
# lang[6] = "4" # 정수, 실수, 문자열은 값을 변경할 수 없는 타입이다.
lang2 = lang.replace("3", "4")
print(lang2)
lang2.upper()

python4

'PYTHON4'

In [13]:
lang = "pyth on3   "
lang2 = lang[:6]
print(len(lang2))
lang.strip() # 문자열의 앞뒤 공백을 제거한다.

6

'pyth on3'

In [14]:
a = "hello world"
a = a.replace("ello", "i")
a

'hi world'

In [15]:
a = " 2022/06/21 "
a = a.replace("/", "-")
a.strip()

'2022-06-21'

In [10]:
name = "철수"
score = 290
average = 290 / 3
print("{}의 총점은 {}, 평균은 {}입니다. ".format(name, score, average))
print(f"{name}의 총점은 {score}, 평균은 {average}입니다.")

철수의 총점은 290, 평균은 96.66666666666667입니다.
철수의 총점은 290, 평균은 96.66666666666667입니다.
철수의 총점은 290, 평균은 96.66666666666667입니다.

In [14]:
btc_symbol = "BTC/KRW"
btc_price = 28300000

doge_symbol = "DOGE/KRW"
doge_price = 193

print(f"암호화폐: {btc_symbol} 현재가: {btc_price}")
print(f"암호화폐: {doge_symbol} 현재가: {doge_price}")

print(f"암호화폐: {btc_symbol: >10} 현재가: {btc_price: >10,}") # >는 오른쪽 정렬 <는 왼쪽 정렬 ^는 가운데 정렬 ,는 천단위 구분기호 10은 10자리를 의미한다. 기본 자릿수를 10칸으로 지정한다.
print(f"암호화폐: {doge_symbol: >10} 현재가: {doge_price: >10,}")

암호화폐: BTC/KRW 현재가: 28300000
암호화폐: DOGE/KRW 현재가: 193
암호화폐:    BTC/KRW 현재가: 28,300,000
암호화폐:   DOGE/KRW 현재가:        193

In [16]:
a = 3.141592
mystr = f"{a: 7.2f}" # mystr = "  3.14"
print(mystr)

   3.14

In [24]:
year = "2023"
year2 = int(year)
print(year2)
type(year2)

money = "1,000,000"
int(money.replace(",", ""))

date = str(year) + "-09-08"
print(date)

2023
2023-09-08

In [25]:
num = 10
num2 = float(num)
print(num2, type(num2))

10.0 <class 'float'>