In [1]:
print("Hello World")

Hello World

In [4]:
lang = "PYTHON3"
print(lang[0])
print(lang[-7])

P
P

In [6]:
lang = "PYTHON3"
print(lang[0:7])
print(lang[-7:]) # 0은 시작을 가리킨다.

PYTHON3
PYTHON3

In [14]:
lang = "PYTHON3"
# 슬라이싱에서 세 번째 값을 지정하면 증감 폭을 설정한다.
print(lang[::2])
print(lang[::-1])
reg_num = "801230-1234567"
print("19" + reg_num[:6])
car_num = "12가 1234"
print(car_num[-4:])
data = "ABC"
print(data[:][:][:][-1]) # data[:]부터 실행되는데.
# 인덱스를 생략했으므로 처음부터 끝까지 전체 문자열을 가져오고 반복 후 마지막에 -1로 인해 C가 선택된다.

PTO3
3NOHTYP
19801230
1234
C

In [4]:
year = "2023"
month = "09"
day = "07"
date = year + "-" + month + "-" + day
print(date)
date.split("-")

2023-09-07

['2023', '09', '07']

In [2]:
print("-" * 20)

--------------------

In [9]:
lang = "python3"
lang.upper()
# lang[6] = "4" # 정수, 실수, 문자열은 값을 변경할 수 없는 타입이다.
lang2 = lang.replace("3", "4")
print(lang2)
lang2.upper()

python4

'PYTHON4'

In [13]:
lang = "pyth on3   "
lang2 = lang[:6]
print(len(lang2))
lang.strip() # 문자열의 앞뒤 공백을 제거한다.

6

'pyth on3'

In [14]:
a = "hello world"
a = a.replace("ello", "i")
a

'hi world'

In [15]:
a = " 2022/06/21 "
a = a.replace("/", "-")
a.strip()

'2022-06-21'

In [2]:
name = "철수"
score = 290
average = 290 / 3
print("{}의 총점은 {}, 평균은 {}입니다. ".format(name, score, average))

철수의 총점은 96.66666666666667, 평균은 290입니다.